html {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  font-family: cursive;
  color: aquamarine;
  transition: .5s ease;
  transform: translateY(50px);
    
  opacity: 0;
}


/* .button{
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: cursive;
  cursor: pointer;
} */

.button {
  width: 75px;
  border-radius: 50px;
  padding: 20px;
  margin: 0 3px;
  font-family: cursive;
  cursor: pointer;
  height: 74px;
  font-size: x-large;
  background: aquamarine;
  
}

.row {
  margin: 5px 0;
}

#input {
  margin-bottom: 15px;
  font-size: 35px;
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 30px;
  width: 318px;
  height: 39px;
  background: transparent;
  border: 2px solid aquamarine;
  color: aquamarine;
}

.button:hover{
  background: transparent;
  color: aquamarine;
  border: 2px solid aquamarine;
  box-shadow: 0 0 10px 0 aquamarine inset,
              0 0 10px 4px aquamarine;
}

#input:hover{
  box-shadow: 0 0 10px 0 aquamarine inset,
              0 0 10px 4px aquamarine;
}

body:hover h1{
  transform: translateY(-5px);
  opacity: 1;
}